.container {
  width: 92%;
  max-width: 1500px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .container {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
  }
}
