body {
  height: 100%;
  margin: 0; }

.App {
  height: calc(100vh - 100px); }
  .App div {
    border: 0px solid red; }
  .App body {
    margin: 0; }
  .App h2 {
    margin: 0;
    font-size: 1.5em;
    padding: 10px;
    font-weight: normal; }
  .App .mainContent {
    width: 100%;
    height: 100%; }
  .App .productName {
    float: left;
    font-size: 20px;
    padding: 10px; }
  .App .header {
    height: 50px;
    justify-content: space-between;
    background-color: #333;
    color: #ffffff; }
    .App .header .menu {
      display: inline-flex;
      float: right; }
      @media only screen and (max-width: 640px) {
        .App .header .menu {
          display: none;
          width: 100%;
          z-index: 100;
          position: fixed;
          float: left;
          top: 50px;
          left: 0;
          background: #e1e1e1;
          height: 100vh; } }
      .App .header .menu .show {
        display: inline-block; }
      .App .header .menu .item {
        font-size: 15px;
        padding: 10px;
        display: block; }
        .App .header .menu .item:hover {
          color: yellow;
          cursor: pointer; }
        @media only screen and (max-width: 640px) {
          .App .header .menu .item {
            width: 100%;
            float: left;
            border-bottom: 1px dotted #333;
            color: #333;
            padding: 20px;
            height: 30px;
            font-size: 20px; }
            .App .header .menu .item:hover {
              color: green;
              cursor: pointer; } }
      .App .header .menu .hideMenu {
        display: none !important; }
        @media only screen and (min-width: 640px) {
          .App .header .menu .hideMenu {
            display: inline-flex !important; } }
      .App .header .menu .showMenu {
        display: block !important; }
        @media only screen and (min-width: 640px) {
          .App .header .menu .showMenu {
            display: inline-flex !important; } }
    .App .header .mobileMenu {
      float: right;
      display: none; }
      @media only screen and (max-width: 640px) {
        .App .header .mobileMenu {
          cursor: pointer;
          display: block; } }
  .App .rightPanel {
    float: right;
    width: 250px;
    height: 100%;
    border-left: 1px solid #e1e1e1; }
    @media only screen and (max-width: 768px) {
      .App .rightPanel {
        display: none; } }
  .App .footer {
    width: 100%;
    border-top: 1px solid #e1e1e1;
    font-size: .8em;
    color: #e1e1e1; }
    @media only screen and (max-width: 768px) {
      .App .footer {
        display: none; } }
  .App .icon {
    margin: 10px;
    width: 20px;
    height: 20px;
    fill: white; }
  .App .right {
    float: right; }
  .App .hand {
    cursor: pointer; }
  .App .white {
    fill: #ffffff; }
