body {
  height: 100%;
  margin: 0; }

.App {
  height: calc(100vh - 100px); }
  .App div {
    border: 0px solid red; }
  .App body {
    margin: 0; }
  .App h2 {
    margin: 0;
    font-size: 1.5em;
    padding: 10px;
    font-weight: normal; }
  .App .mainContent {
    width: 100%;
    height: 100%; }
  .App .productName {
    float: left;
    font-size: 20px;
    padding: 10px; }
  .App .header {
    flex: 1 100%;
    height: 50px;
    justify-content: space-between;
    background-color: #333;
    color: #ffffff; }
    .App .header .menu {
      display: inline-flex;
      float: right; }
      .App .header .menu .item {
        font-size: 15px;
        padding: 10px; }
        .App .header .menu .item:hover {
          color: yellow;
          cursor: pointer; }
  .App .rightPanel {
    float: right;
    width: 250px;
    height: 100%;
    border-left: 1px solid #e1e1e1; }
  .App .footer {
    width: 100%;
    border-top: 1px solid #e1e1e1;
    font-size: .8em;
    color: #e1e1e1; }
