.menu {
  display: inline-flex;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  color: #ffffff;
  z-index: 2;
}
.searchIcon {
    width: 30px;
    height: 30px;
    padding: 11px;
    background-color: #cc0066;
    float: left;
    text-align: center;
    margin-right: 5px;
    border-radius: 50%;
    z-index: 120;
    bottom: 0;
    position: fixed;
    right: 7px;
}
@media only screen and (max-width: 640px) {
  .menu {
      display: none;
      width: 100%;
      z-index: 1;
      position: fixed;
      float: left;
      left: 0;
      background: #e1e1e1;
      height: 100vh;
  }
}
.show {
  display: inline-block;
}
.item {
  font-size: 14px;
  padding: 10px;
  display: block;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}
.item:hover {
  cursor: pointer;
  border-bottom: 5px solid #4D949C;
}
@media only screen and (max-width: 640px) {
   .item {
    width: 100%;
    float: left;
    border-bottom: 1px dotted #333;
    color: #333;
    padding: 20px;
    height: 30px;
    font-size: 20px;
  }
    .item:hover {
      color: green;
      cursor: pointer;
    }
}
.mobileMenu {
  float: right;
  display: none;
  z-index: 101;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 640px) {
  .mobileMenu {
    cursor: pointer;
    display: block;
    position: fixed;
    fill: white;
  }
}

.hideMenu {
  display: none !important;
}
@media only screen and (min-width: 641px) {
  .hideMenu {
    display: inline-flex !important;
  }
}
.showMenu {
  display: block !important;
}
@media only screen and (min-width: 641px) {
  .showMenu {
      display: inline-flex !important;
  }
}

.icon {
  margin: 10px;
  width: 20px;
  height: 20px;
  fill: white;
}
