$primary-color: #333;
$secondory-color: #e1e1e1;
$hover-color: yellow;
$debug-border: 0px solid red;
body{
  height: 100%;
  margin: 0
}
.App {
  height: calc(100vh - 100px);
  div {
    border: $debug-border;
  }
  body {
    margin: 0;
  }
  h2{
    margin: 0;
    font-size: 1.5em;
    padding: 10px;
    font-weight: normal;
  }
  .mainContent {
    width: 100%;
    height: 100%;
  }
  .productName {
    float: left;
    font-size: 20px;
    padding: 10px;
  }
  .header{
    flex: 1 100%;
    height: 50px;
    justify-content: space-between;
    background-color: $primary-color;
    color: #ffffff;
    .menu {
      display: inline-flex;
      float: right;
      .item {
        font-size: 15px;
        padding: 10px;
        &:hover {
          color: $hover-color;
          cursor: pointer;
        }
      }

    }
  }
  .rightPanel {
    float: right;
    width: 250px;
    height: 100%;
    border-left: 1px solid $secondory-color;
  }
  .footer {
    width: 100%;
    border-top: 1px solid $secondory-color;
    font-size: .8em;
    color: #e1e1e1;
  }
}
